---
import type { Gallery, GalleryData } from '../../utils/types';
import Lightbox from '../../components/Lightbox.astro';

import { fetchLatestGallery, fetchGalleryList } from '../../utils/sanity';
import BaseLayout from '../../layouts/BaseLayout.astro';


// Fetch latest gallery and all gallery links
const latestGallery: GalleryData | null = await fetchLatestGallery();
const galleries: Gallery[] = await fetchGalleryList();

---

<BaseLayout>
  <!-- Section 1: Most Recent Gallery with Lightbox -->
  <section>
    {latestGallery ? (
      <>
        <h2>Latest Gallery: {latestGallery.title}</h2>
        <div class="gallery-grid">
          {latestGallery.images.map((img) => (
            <Lightbox 
              lightboxImage={img.lightboxUrl}
              thumbnail={img.thumbnailUrl} 
              altText={img.altText} 
              caption={img.caption} 
            />
          ))}
        </div>
      </>
    ) : (
      <p>No galleries found.</p>
    )}
  </section>
  
 

  <!-- Section 2: List of Other Galleries -->
  <section>
    <h2>All galleries</h2>
    {galleries.length > 0 ? (
      <nav>
        <ul>
          {galleries.map((gallery) => (
            <li>
              <a href={`/gallery/${gallery.slug}`}>{gallery.title}</a>
            </li>
          ))}
        </ul>
      </nav>
    ) : (
      <p>No other galleries available.</p>
    )}
  </section>

</BaseLayout>

<style>
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;

    img {
      border: solid 10px white;
      border-bottom-width: 30px;
      display: block;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
</style>