---
import { sanityClient } from "sanity:client";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PortableText from "../../components/PortableText.astro";
import SanityImage from "../../components/SanityImage.astro";

export const prerender = true;


export async function getStaticPaths() {
  const posts = await sanityClient.fetch(
    `*[_type == "post" && defined(publishedAt)] | order(publishedAt desc) {
			...
		}`,
  )
  return posts.map((post: any) => ({
    params: {slug: post.slug.current},
    props: {post},
  }))
}

interface Post {
  title: string;
  publishedAt: string;
  mainImage: {
    alt: string;
  };
  body: any;
}

const { post }: { post: Post } = Astro.props;

console.log("!!!", post);

---

<BaseLayout>
  <article>
    <h1>{post.title}</h1>
    <p>{post.publishedAt}</p>
    <PortableText value={post.body} />
    <!-- <SanityImage image={post.mainImage} alt="" /> -->
    <!-- <PortableText blocks={post.body} /> -->
  </article>
</BaseLayout>

