---
import type { EquipmentType } from "../../utils/types";
import { fetchEquipmentBySlug } from "../../sanity/queries/equipment";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Image from "astro/components/Image.astro";
import PortableText from "../../components/shared/PortableText.astro";
import PageDescription from "../../components/shared/PageDescription.astro";
import PageTitle from "../../components/shared/PageTitle.astro";
import GalleryGrid from "../../components/gallery/GalleryGrid.vue";

const { slug } = Astro.params;

// Ensure `slug` is a string before using it
if (!slug) {
  throw new Error("Slug is missing!");  // ✅ Handle missing slugs explicitly
}

const equipment: EquipmentType | null = await fetchEquipmentBySlug(slug);

console.log(equipment?.image.url);

---

<BaseLayout>
  
  <div class="equipment">
    <PageTitle title={equipment?.title} />

    <div class="equipment__listing">
      {equipment?.image && (
        <Image
          src={equipment.image.url || ""}
          inferSize={true}
          class="equipment__image"
          alt={`Photo of ${equipment.title}`} />  
      )}
      <PageDescription>
        {equipment?.description && <PortableText portableText={equipment?.description} />}
      </PageDescription>
    </div>

  </div>
  
  <!-- <GalleryGrid client:load initialImages={equipment?.images || []} infinite={false} /> -->

  <PageDescription>
    Back to <a href="/equipment">Equipment list</a>
  </PageDescription>
</BaseLayout>

<style lang="scss">
  @use "../../styles/_breakpoints.scss" as *;

  .equipment {
    margin: 1rem;
  }

  .equipment__listing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;


  }

  .equipment__image {
    border: solid 5px #FFF;
    display: block;
  
    margin-top: -1rem;
    width: 100%;
    max-width: 500px;
  }

  @media (min-width: $BREAKPOINT_TABLET_LANDSCAPE) {
    .equipment__listing {
      flex-direction: row;
      align-items: flex-start;
      max-width: 1000px;
      margin: auto;
    }

    .equipment__image {

    }
  }
</style>
