---
import type { EquipmentPageProps } from "../../utils/types";
import { fetchAllEquipment } from "../../sanity/queries/equipment";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Image from "astro/components/Image.astro";
import PortableText from "../../components/shared/PortableText.astro";
import PageDescription from "../../components/shared/PageDescription.astro";
import PageTitle from "../../components/shared/PageTitle.astro";

// Get slug from URL params and fetch equipment data on each request
const { slug } = Astro.params;

// Fetch all equipment and find the one matching this slug
const allEquipment = await fetchAllEquipment();
const equipment = allEquipment.find(item => item.slug === slug);

if (!equipment) {
  throw new Error("Equipment data is missing!");
}

console.log(equipment?.image.full);

---

<BaseLayout title={equipment?.title}>
  
  
  <div class="equipment">
    <PageTitle title={equipment?.title} />

    <div class="equipment__listing">
      {equipment?.image && (
        <Image
          src={equipment.image.full || ""}
          inferSize={true}
          class="equipment__image"
          alt={`Photo of ${equipment.title}`} />  
      )}
      <PageDescription>
        {equipment?.description && <PortableText portableText={equipment?.description} />}
      </PageDescription>
    </div>

  </div>
  

  <PageDescription>
    Back to <a href="/equipment">Equipment list</a>
  </PageDescription>
</BaseLayout>

<style lang="scss">
  @use "../../styles/_breakpoints.scss" as *;

  .equipment {
    margin: 1rem;
  }

  .equipment__listing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;


  }

  .equipment__image {
    border: solid 5px #FFF;
    display: block;
  
    margin-top: -1rem;
    width: 100%;
    max-width: 500px;
  }

  @media (min-width: $BREAKPOINT_TABLET_LANDSCAPE) {
    .equipment__listing {
      flex-direction: row;
      align-items: flex-start;
      max-width: 1000px;
      margin: auto;
    }

  }
</style>
