---
import type { EquipmentType } from "../../utils/types";
import { fetchAllEquipment } from "../../sanity/queries/equipment";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Image from "astro/components/Image.astro";
import PageTitle from "../../components/shared/PageTitle.astro";
import PageDescription from "../../components/shared/PageDescription.astro";
import { fetchPagesContent } from "../../utils/sanity";
import PortableText from '../../components/shared/PortableText.astro';
import Seo from "../../components/shared/Seo.astro";
import { buildTitle } from "../../utils/meta";

const equipmentList: EquipmentType[] = await fetchAllEquipment();
console.log("Fetched Equipment:", JSON.stringify(equipmentList, null, 2));  // ✅ Debug Output

const pagesContent = await fetchPagesContent();
const equipmentDescription = pagesContent?.equipmentPageDescription;

const pageTitle = buildTitle("Equipment");

---

<Seo title={pageTitle} />

<BaseLayout>

  <div class="container">

    <PageTitle title="Equipment" />
    {equipmentDescription && <PageDescription>
      <PortableText portableText={equipmentDescription}></PortableText>
    </PageDescription>}

    <div class="equipment-grid">
      {equipmentList.map((item) => (

      <a href={`/equipment/${item.slug}`} class="equipment-card">

  <div>
      <!-- Graphic Label for Sale / Rent -->
          <span class={`tag ${item.category === "For Sale" ? "for-sale" : "for-hire"}`}>
            {item.category}
          </span>

          <!-- Equipment Image (Select first available one) -->
          {item.images && item.images.length > 0 ? (
          <Image 
              src={item.images[0].url} 
              alt={item.title} 
              width={200} 
              height={150} 
              format="webp"
              quality={80}
              loading="lazy"
          />
          ) : (
          <p class="no-image"></p>
          // TODO: Fix this - clean up
          )}
        </div>
</div>
        


        <h2>{item.title}</h2>
    </a>
    ))}
  </div>
</BaseLayout>

<style>

  .container {
    margin: 1rem;
  }
  .equipment-grid {
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
  }

  /* TODO: Nprmalise and apply outside of this scope */
  .equipment-card {
    position: relative;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--bg-light);
    /* text-align: center; */
    align-items: center;
  }

  .tag {
    /* TODO: Review */
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 4px;
  }

  .for-sale {
    background: darkmagenta;
  }

  .for-hire {
    background: darkgray;
  }
</style>
