---
import GalleryGrid from "../../../components/gallery/GalleryGrid.vue";
import PageDescription from "../../../components/shared/PageDescription.astro";
import PageTitle from "../../../components/shared/PageTitle.astro";
import Seo from "../../../components/shared/Seo.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { fetchGalleryBySlug, fetchGalleryList } from "../../../sanity/queries/gallery";
import { buildTitle } from '../../../utils/meta';

// Tell Astro which pages to build at compile time
// This fetches all photo albums from Sanity and pre-builds a page for each one
export async function getStaticPaths() {
  const albums = await fetchGalleryList();
  return albums
    .filter(album => album.slug)
    .map(album => ({
      params: { slug: album.slug }
    }));
}

const { slug } = Astro.params;
if (!slug) throw new Error("Slug is required");

const gallery = await fetchGalleryBySlug(slug);
if (!gallery) throw new Error("Gallery not found");

console.log(gallery);

const pageTitle = buildTitle(`${gallery.title} | Photo Gallery`);
---

<BaseLayout>
  <Seo slot="head" title={pageTitle} />
  <PageTitle title={gallery.title} />
  <PageDescription>
    <a href="/gallery/albums">Back to Album list</a>
  </PageDescription>

  <GalleryGrid client:load initialImages={gallery.images} infinite={false} />

  <PageDescription>
    <a href="/gallery/albums">Back to Album list</a>
  </PageDescription>
</BaseLayout>
