---
import GalleryGrid from "../../../components/gallery/GalleryGrid.vue";
import PageDescription from "../../../components/shared/PageDescription.astro";
import PageTitle from "../../../components/shared/PageTitle.astro";
import Seo from "../../../components/shared/Seo.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { fetchGalleryBySlug, fetchGalleryList } from "../../../sanity/queries/gallery";
import { buildTitle } from '../../../utils/meta';
import type { GalleryPageProps } from '../../../utils/types';

// Get slug from URL params and fetch gallery data on each request
const { slug } = Astro.params;

// Fetch gallery data for this specific slug
const gallery = await fetchGalleryBySlug(slug!);
if (!gallery) throw new Error("Gallery data is missing!");

console.log(gallery);

const pageTitle = buildTitle(`${gallery.title} | Photo Gallery`);
---

<BaseLayout>
  <Seo slot="head" title={pageTitle} />
  <PageTitle title={gallery.title} />
  <PageDescription>
    <a href="/gallery/albums">Back to Album list</a>
  </PageDescription>

  <GalleryGrid client:load initialImages={gallery.images} infinite={false} />

  <PageDescription>
    <a href="/gallery/albums">Back to Album list</a>
  </PageDescription>
</BaseLayout>
