---
import '../styles/pages/gallery.scss';
import BaseLayout from '../layouts/BaseLayout.astro';
import { fetchAllGalleryDocuments } from './api/getGalleryImages';
import type { Gallery } from '../utils/types';

// Fetch all gallery documents
const galleries: Gallery[] = await fetchAllGalleryDocuments();
const mostRecentGallery = galleries[0];
---

<BaseLayout>
  <h1>Photo Gallery</h1>

  <div class="gallery-container">
    <aside>
      <h2>Other Galleries</h2>
      <ul>
        {galleries.map((gallery) => (
          <li>
            <a href={`/gallery/${gallery.slug}`}>{gallery.title}</a>
          </li>
        ))}
      </ul>
    </aside>

    <section>
      <h2>{mostRecentGallery.title}</h2>
      <div class="gallery-grid">
        {mostRecentGallery.images.map((image, index) => (
          <div class="gallery-item">
            <a href={`/gallery/${mostRecentGallery.slug}/${index}`}>
              <img
                src={image.thumbnailUrl}
                alt={image.altText || `A photo from the ${mostRecentGallery.title} event`}
              />
            </a>
            {image.caption && <p>{image.caption}</p>}
          </div>
        ))}
      </div>
    </section>
  </div>
</BaseLayout>
