---
import BaseLayout from "../layouts/BaseLayout.astro";
import { fetchHomepage } from "../sanity/queries/homepage";

import PortableText from "../components/shared/PortableText.astro";
import Banner from '../components/Banner.astro';
import LatestNews from "../components/LatestNews.astro";
import NextEvent from "../components/homepage/NextEvent.astro";

import { buildTitle } from "../utils/meta";
import Seo from "../components/shared/Seo.astro";
const title = buildTitle("Home");


// Fetch homepage data at build time
const vm = await fetchHomepage();

---

<Seo title={title} />

<BaseLayout>
  <Banner />

  <div class="container">

    {vm?.whoWeAre && (
      <section id="who-we-are" class="portable-text">
        <h2>Who We Are</h2>
        <PortableText portableText={vm.whoWeAre} />
      </section>
    )}

    <aside>
      <LatestNews />
      <NextEvent />
    </aside>
  </div>

  <div class="others">
      
        <section id="what-we-do" class="portable-text">
          <h2>What We Do</h2>
          {vm?.whatWeDo && (
            <PortableText portableText={vm.whatWeDo} />
          )}
        </section>
      
    {vm?.whenWeMeet && (
      <section id="when-we-meet" class="portable-text">
        <h2>When We Meet</h2>
        <PortableText portableText={vm.whenWeMeet} />
      </section>
    )}

    {vm?.whereWeMeet && (
      <section id="where-we-meet" class="portable-text">
        <h2>Where We Meet</h2>
        <PortableText portableText={vm.whereWeMeet} />
      </section>
    )}
  </div>

</BaseLayout>

<style lang="scss">

  @use "../styles/_panel.scss" as *;

  section {
    @include panel;
  }


  .others {
    display: flex;
    gap: 1rem;
  }
  .container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  // section {
  //   flex: 1;
  //   background-color: var(--bg-light);
  //   padding: 1rem;
  //   border-radius: 1rem;

  // }

  aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
  }

  // TODO: Organise numbers for breakpoints etc
</style>
