---
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { Post } from "../../utils/types";
import { fetchAllPosts, transformImagesToGalleryFormat } from "../../utils/sanity";
import PortableText from "../../components/PortableText.astro";

// Prerender static HTML at build time, good to do when poss
export const prerender = true;

// Fetch all slugs and corresponding post data
export async function getStaticPaths() {
  const posts = await fetchAllPosts();

  // Return an array of slugs and post props
  return posts.map((post: any) => ({
    params: {slug: post.slug.current},
    props: {post},
  }))
}

// Astro provides 'post' via props from getStaticPaths
const { post }: { post: Post } = Astro.props;

const formattedDate = new Date(post.publishedAt).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});

// Debug output
console.log("Post Data:", JSON.stringify({
  title: post.title,
  publishedAt: post.publishedAt,
  attachPublication: post.attachPublication,
  attachedPublication: post.attachedPublication
}, null, 2));

---

<BaseLayout>
  <article>
    <header>
      <h1>{post.title}</h1>
      <p>
        <span>Published on {formattedDate}</span>
        <span>
          {post.attachPublication && post.attachedPublication && (
            <a 
              href={post.attachedPublication.documentUrl}
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="text-xl">📄</span>
              <span>{post.attachedPublication.title}</span>
            </a>
          )}
        </span>
      </p>
    </header>
    <section class="post-body">
      <div class="portable-text">
        <PortableText portableText={post.body} />
        
      </div>  
    </section>
  </article> 
</BaseLayout>

<style lang="scss">
  header {
    background-color: rgba(black, .2);
    padding: .5rem;
  }
</style>
