---
import { fetchPostsPage } from '../../sanity/queries/news';
import { getCachedGlobals } from '../../utils/cache';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ListItem from "../../components/shared/ListItem.astro";
import PageTitle from "../../components/shared/PageTitle.astro";
import PageDescription from "../../components/shared/PageDescription.astro";
import PortableText from '../../components/shared/PortableText.astro';
import Seo from '../../components/shared/Seo.astro';
import { buildTitle } from "../../utils/meta";


const posts = await fetchPostsPage();
const globals = await getCachedGlobals();
const newsDescription = globals?.pagesContent?.newsPageDescription;

const pageTitle = buildTitle("News");

console.log("Fetched Posts:", posts);
console.log("DEBUG: posts =", JSON.stringify(posts, null, 2));

---

<BaseLayout>
  <Seo slot="head" title={pageTitle} />
  <div class="container">

    <PageTitle title="News" />
    {newsDescription && <PageDescription>
      <PortableText portableText={newsDescription}></PortableText>
    </PageDescription>}
    
    <ul class="news">
      {posts.map((post) => {
        return (
          <ListItem 
            title={post.title} 
            date={post.publishedAt} 
            description={post.snippet || ""}
            body={post.body} 
            basePath="/news"
            variant="news-full"
            linkThroughToPage={false}
          />
        );
      })}
    </ul>
  </div>
</BaseLayout>

<style>
  .news {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
    max-width: 72ch;
  }
</style>